@model DailyAttendanceVM

<form method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" asp-for="@Model.EmployeeId" />
    <input type="hidden" asp-for="@Model.Date" />

    <div class="row">
        <div class="col-md-12 mb-3">
            <input type="text" value="Date: @Model.Date.ToString("yyyy-MM-dd")" disabled />
        </div>
        <div class="col-md-12 mb-3">
            <label asp-for="@Model.EmployeeName" class="form-label">User</label>
            <input type="text" class="form-control" value="@Model.EmployeeName" disabled />
        </div>
        <div class="col-md-12 mb-3">
            <label asp-for="@Model.CheckIn" class="form-label">Check In</label>
            <input type="time" asp-for="@Model.CheckIn" class="form-control"/>
        </div>

        <div class="col-md-12 mb-3">
            <label asp-for="@Model.CheckOut" class="form-label">Check Out</label>
            <input type="time" asp-for="@Model.CheckOut" class="form-control"/>
        </div>

        <div class="col-md-12">
            <button class="btn btn-primary" type="submit">Edit</button>
        </div>
    </div>
</form>